/*list.html*/

::-moz-selection{
        background: #c7e274;
    }

    ::selection{
        background-color:#c7e274;
    }
    body{
            font-family: 'Armata', sans-serif;
            color: #757575;
    }
    p{
        width: 350px;
        font-size: 15px;
    }
    h2{
        color: #c7e274;
    }
    form {
    width: 550px;
    height: 600px;
    margin: 40px;
    position: relative;
    background-color: white;
    }
    label {
        font-size: 15px;
    }

img.icon {
  width: 100%;;
}

button {
  width: 120px !important;
  margin: 0 auto;
  margin-top: 20px;
}

div.container {
  margin-top: 20px;
}

div.container span p {
  margin-top: 30px;
}

div.input-group {
  margin-top: 15px;
}

button.pull-right {
  float: right;
}


    .checklistsBtn{
        height: 40px;
        width: 245px;
        font-size: 12px;
        background-color: #ffffff;
        -webkit-appearance: none;
        border: 3px solid #c7e274;
        color: #757575;
        margin-right: 60px;
        border-radius: 5px;
    }

    .checklistsBtn:active{
        background-color: #c7e274;
        border-radius: 5px;
    }

      .deleteBtn{
        height: 40px;
        width: 245px;
        font-size: 12px;
        background-color: #ffffff;
        -webkit-appearance: none;
        border: 3px solid #ce7464;
        color: #757575;
        border-radius: 5px;
    }

    .deleteBtn:active{
        background-color: #ce7464;
        border-radius: 5px;
    }

       .shareBtn{
        height: 40px;
        width: 245px;
        font-size: 12px;
        background-color: #ffffff;
        -webkit-appearance: none;
        border: 3px solid powderblue;
        color: #757575;
        border-radius: 5px;
    }

    .shareBtn:active{
        background-color: powderblue;
        border-radius: 5px;
    }

