
    ::-moz-selection{
        background: #c7e274;
    }

    ::selection{
        background-color:#c7e274;
    }
    body{
            font-family: 'Armata', sans-serif !important;
            color: #757575;
    }
    p{
        width: 70%;
        font-size: 15px;
        font-family: 'Armata', sans-serif !important;
        color: #757575;
    }
    h2{
        color: #c7e274;
    }
    form {
    width: 550px;
    height: 600px;
    margin: 40px;
    position: relative;
    background-color: white;
    }
    label {
        font-size: 15px;
    }

    table {
        width: 80%;
    }

        /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        color: #757575;
        font-weight: bold;
        font-size: 15px;
    }


/* index.html*/
    .row{
      padding-right: 10px;  
    }
    .registerAndLoginBtn{
        height: 40px;
        width: 100px;
        font-size: 12px;
        background-color: #ffffff;
        -webkit-appearance: none;
        border: 3px solid #c7e274;
        color: #757575;
        float: right;
        text-decoration: none;
    }
    .registerAndLoginBtn:active {
        background-color: rgba(199,226, 116, 0.6);
        text-decoration: none;
    }


    .registerAndLoginBtn:hover{
        border: 3px dashed #c7e274;
        text-decoration: none;
    }

    .registerAndLoginBtnPos{
        width: 90%;
        float: right;
    }

    #registerDescr{
        font-size: 12px;
        width: 95%;
        float: right;
        text-align: right;
    }

    @media screen and (min-width : 686px) {

    .listy {
        width: 30%;
        height: 255px;
        position: relative;
        -webkit-animation-name: listy; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
        animation-name: listy;
        animation-duration: 4s;
        animation-iteration-count: 3;
        -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
        animation-direction: alternate;
    }

    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes listy {
        0%   {right:0px; bottom:0px;}
        25%  {right:200px; bottom:0px;}
        50%  {right:200px; bottom:150px;}
        75%  {right:0px; bottom:150px;}
        100% {right:0px; bottom:0px;}
    }

    /* Standard syntax */
    @keyframes listy {
        0%   {right:0px; bottom:0px;}
        25%  {right:200px; bottom:0px;}
        50%  {right:200px; bottom:150px;}
        75%  {right:0px; bottom:150px;}
        100% {right:0px; bottom:0px;}
    }
    }
@media screen and (min-width : 686px) {
    /*Login and Registration Modals*/
    .containerModal {
        width: 90%;
    }
}

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1050; /* Sit on top */
        left: 1;
        top: 1;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: hidden; /* Enable scroll if needed */
        padding-top: 60px;
        background-color: rgba( 0, 0, 0, 0.8 );
    }

    /* Modal Content/Box */
        .modalContent {
        border: 1px solid #888;
        width: 50%;
        height: 90%;
        }

    /* The Close Button (x) */
    .closeModal {
        position: absolute;
        right: 25px;
        top: 0;
        color: lightgrey;
        font-size: 35px;
        font-weight: bold;
    }

    .closeModal:hover,
    .closeModal:focus {
        color: #B94A48;
        cursor: pointer;
    }

    /* Add Zoom Animation to Login and Registration Modals */
    .animate  {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s;
    }

    @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)} 
        to {-webkit-transform: scale(1)}
    }
        
    @keyframes animatezoom {
        from {transform: scale(0)} 
        to {transform: scale(1)}
    }


.checklistTitle{
    width: 50%;
    text-align: center;
}

button:focus {
 outline:0;
}

/*main.html*/
.menuBtn{
    height: 40px;
        font-size: 12px;
        background-color: #ffffff;
        -webkit-appearance: none;
        border: 3px solid #c7e274;
        color: #757575;
        border-radius:0px; 
        text-decoration: none;
}
.menuBtn:hover{
        border: 3px dashed #c7e274;
        text-decoration: none;

    }

    .menuBtn:active{
        background-color: rgba(199,226, 116, 0.6);
        text-decoration: none;
    }


       .checklistsBtn{
        height: 40px;
        width: 245px;
        font-size: 12px;
        background-color: #ffffff;
        -webkit-appearance: none;
        border: 3px solid #c7e274;
        color: #757575;
        border-radius:0px;
        text-decoration: none;
    }

    .checklistsBtn:hover{
        border: 3px dashed #c7e274;
        text-decoration: none;
    }

    .checklistsBtn:active{
         background-color: rgba(199,226, 116, 0.6);
    }

    .space{
        padding-top: 60%;
    }


/*yourchecklists.html, checklistsshared.html,*/

    .listButton{
       /* width: 700px;*/
       width: 100%;
        height: 40px;
        font-size: 12px;
        background-color: #ffffff;
        -webkit-appearance: none;
        border: 1px solid #757575;
        color: #757575;
        text-decoration: none;
    }
    .listButton:hover{
        border: 2px dashed #757575;
        text-decoration: none;
    }
    .listButton:active{
        background-color: rgba(199,226, 116, 0.6);
        text-decoration: none;
    }
    
.ui-page .ui-header {
    background: #ffffff !important;
}
.ui-btn-text{
    font-size: 12px;
    color: #757575;
}

.ui-btn{
       border-radius: 0px;
       border: 3px solid #c7e274;
       background-color:#fff;
       background: #fff;
       font-family: 'Armata', sans-serif !important;
            
}
.ui-btn-active 
{
     color:#757575 !important; text-decoration: none; background: #d7e4ac !important; text-shadow: none;
    
}


.ui-btn-hover-d:hover{
    
    text-decoration: none;
    border: 3px dashed #c7e274;
}

.ui-focus,
.ui-btn:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;

}

/*yourlist.html, listshared.html*/

          .shareBtn{
        height: 40px;
        width: 50%;
        font-size: 12px;
        background-color: #ffffff;
        -webkit-appearance: none;
        border: 3px solid powderblue;
        color: #757575;
        text-decoration: none;
    }

    .shareBtn:hover{
        border: 3px dashed powderblue;
        text-decoration: none;
    }

    .shareBtn:active{
        background-color: #b0e0e66b;
        text-decoration: none;
    }

    
      .deleteBtn{
        height: 40px;
        width: 50%;
        font-size: 12px;
        background-color: #ffffff;
        -webkit-appearance: none;
        border: 3px solid #ce74647a;
        color: #757575;
    }

    .deleteBtn:hover{
        border: 3px dashed #ce74647a;
    }

    .deleteBtn:active{
        background-color: #ce74643d;
    }

        .addAndSaveBtn{
        height: 40px;
        width: 50%;
        font-size: 12px;
        background-color: #ffffff;
        -webkit-appearance: none;
        border: 3px solid #c7e274;
        color: #757575;
        margin-right: 60px;
        text-decoration: none;
    }

    .addAndSaveBtn:hover{
        border: 3px dashed #c7e274;
        text-decoration: none;
    }

    .addAndSaveBtn:active{
        background-color: rgba(199,226, 116, 0.6);
        text-decoration: none;
    }

    div.input-group {
        margin-top: 15px;
    }